@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 33% 95.9%;
    --foreground: 20 14% 4%;
    --card: 35 33% 95.9%;
    --card-foreground: 20 14% 4%;
    --popover: 35 33% 95.9%;
    --popover-foreground: 20 14% 4%;
    --primary: 16 72% 68.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 15% 85%;
    --secondary-foreground: 20 14% 4%;
    --muted: 35 20% 90%;
    --muted-foreground: 20 14% 45.1%;
    --accent: 151 25% 61.4%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 20% 90%;
    --input: 35 20% 90%;
    --ring: 16 72% 68.4%;
    --radius: 0.5rem;
    --chart-1: 16 72% 68.4%;
    --chart-2: 151 25% 61.4%;
    --chart-3: 35 33% 80%;
    --chart-4: 20 14% 60%;
    --chart-5: 151 15% 40%;
    --sidebar-background: 35 33% 94%;
    --sidebar-foreground: 20 14% 20%;
    --sidebar-primary: 16 72% 68.4%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 35 33% 90%;
    --sidebar-accent-foreground: 20 14% 4%;
    --sidebar-border: 35 20% 88%;
    --sidebar-ring: 16 72% 68.4%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 35 33% 95.9%;
    --card: 20 14% 4%;
    --card-foreground: 35 33% 95.9%;
    --popover: 20 14% 4%;
    --popover-foreground: 35 33% 95.9%;
    --primary: 16 72% 68.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 25% 20%;
    --secondary-foreground: 35 33% 95.9%;
    --muted: 20 14% 10%;
    --muted-foreground: 35 33% 63.9%;
    --accent: 151 25% 61.4%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 14.9%;
    --input: 20 14% 14.9%;
    --ring: 16 72% 68.4%;
    --chart-1: 16 72% 68.4%;
    --chart-2: 151 25% 61.4%;
    --chart-3: 35 33% 80%;
    --chart-4: 20 14% 60%;
    --chart-5: 151 15% 40%;
    --sidebar-background: 20 14% 6%;
    --sidebar-foreground: 35 33% 95.9%;
    --sidebar-primary: 16 72% 68.4%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 20 14% 12%;
    --sidebar-accent-foreground: 35 33% 95.9%;
    --sidebar-border: 20 14% 14.9%;
    --sidebar-ring: 16 72% 68.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.primary-foreground-dark {
    color: hsl(20 14% 4%);
}
